#!/usr/bin/env bash
{{ ansible_managed | comment }}

# Created by carrol@protonmail.com

set -o noclobber  # Avoid overlay files (echo "hi" > foo)
set -o errexit    # Used to exit upon error, avoiding cascading errors
set -o nounset    # Exposes unset variables
set -o pipefail   # Unveils hidden failures

set -o allexport
source {{ walg_env }}
set +o allexport

{% if walg_type == 'mongo' -%}
{{ walg_binary }} delete --purge-garbage --retain-count {{ walg_backup_retain }} --purge-oplog --retain-after `date -Iseconds -d '{{ (walg_backup_retain|int) * 24 }} hours ago'` --confirm
{% else -%}
{{ walg_binary }} delete retain FULL {{ walg_backup_retain }} --confirm
{% endif -%}
